@inherits ImagesPanelModel



<div class="p-0 m-0 bg-light no-select " 
     style="width:@WidthMainWin; 
            height: @HeightMainWin; 
            overflow: hidden;"
     id="drawing_panel_background">
    <div style="width:@WidthImg; height: @HeightImg;
        @CssScale;   
        background-position: center ;"
         @onclick="@HandleMouse"
         @oncontextmenu="@HandleRightClick"
         @onmousedown="@HandlerOnmousedown"
            @onmouseup="@HandlerOnmouseUp"
         @onmousemove="@HandlerOnmousemove"
         @onmousewheel="@HandleMouseWheel">

        <img src=@ImagesBase64 alt="Red dot" style="width: 100%;  height: 100%;  position: absolute; transition: all 0.000s;  transition-timing-function: linear;"/>
        @SvgPanelTemplate
    </div>
</div>