@using BlazorBrowserInteractLabeler.ARM.Extension
@using BlazorBrowserInteractLabeler.ARM.ViewData
@using BlazorBrowserInteractLabeler.Web.Components.Panels.Palette
@rendermode InteractiveServer

<ColorPicker IsOpened="@_isOpenedPalette" Closed="@ClosedEventChoiceColor" Title="Палитра цветов"></ColorPicker>

<div class="p-0 m-0" style="height: 5.0vh;" >
    <div class="row m-0 settings-panel padding-1px" style="height: 100%">
        
        <div class="col-2 p-0 m-0 div-menu-start">
            <div class="text-vertical-center" style="padding-left: 1vw;">
                <div style="height: 21px;">
                    <p class="m-0" style=" overflow: hidden ; word-break: break-all;">
                        Функция:
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-4 p-0 m-0 div-menu-start">
            <div class="text-vertical-center">
                <div style="height: 100%; padding-right: 1vw;">
                  
                    <select
                        class="style-selector"
                        size="1"
                        style="width: 100%; height: 3.5vh;  "
                        @onchange="(SetCurrentEventCode)"
                        value="@_eventCode">
                        @{
                            foreach (var eventCode in GetAllEnums())
                            {
                                <option value="@eventCode">@eventCode.ToDisplayName()</option>
                            }
                        }

                    </select>
                </div>
            </div>
        </div>
        
        <div class="col-2 p-0 m-0 div-menu-start">
            <div class="text-vertical-center">
                <div style="height: 21px;">
                    <p class="m-0" style=" overflow: hidden ; word-break: break-all;">
                        Клавиша:
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-1  m-0 div-menu-start padding-2px" style="height: 100%">
            <div class="text-vertical-center " style="height: 100%">
                <input type="text"
                       class="form-control  text-center  "
                       style=" width: 100%; height: 3.5vh;"
                       value="@_keyOnBoardName"
                       @onkeydown="@EventOnKeyDown">
            </div>
        </div>
        
        <div class="col-1 p-0 m-0 div-menu-start"></div>
        
        
        <div class="col-1 m-0 div-menu-center  padding-2px">
            <div class="text-vertical-center bottom-shadow button-panel " @onclick="OnInitColorPicker" style="background-color: @_color">
                <div style="height:100%;">
                    <p class="m-0" style=" overflow: hidden ; word-break: break-all;">
                        Цвет
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-1 m-0  padding-2px " style="height: 100%; "
             title="">
            <div class=" p-0 m-0 div-menu-center bottom-shadow button-panel"
                 style="height: 100%; width: 100%"
                 @onclick="SaveLabel">
                <span role="img" class="anticon  text-vertical-center">
                    <img src="icons/013_lable_add.svg" width="25" height="25"/>
                </span>
            </div>
        </div>
    </div>
</div>

