@inherits ImagesPanelModel


<div class="p-0 m-0" style="width: 100%; height: 100%"
     id="@IdRootDiv">

    <div class="p-0 m-0 bg-light no-select "

         style="width: 100%; height: 100%; background-color: #0dcaf0;
         overflow: hidden;"
         @onmousewheel="@HandleMouseWheel"
         @oncontextmenu="@HandleRightClick"
         @onmousedown="@HandlerOnmousedown"
         @onmouseup="@HandlerOnmouseUp"
         >

        <div id="@ScaleDiv"
             style="width:@WidthImg; height: @HeightImg;
             @CssScale;
             background-position: center ;
             transform-origin: center;"
             @onclick="@HandleMouse"
             @onmousemove="@HandlerOnmousemove">

            <canvas id="@IdCanvas" width="@WidthImg" height="@HeightImg"
                    style="position: absolute; background-position: center ;"></canvas>
            @SvgPanelTemplate

        </div>

    </div>

</div>
