@using BrowserInteractLabeler.Common.DTO
@using ImageMagick
@inherits ColorLabelPanelModel


<ColorPicker IsOpened="isOpened" Closed="ClosedEvent" Title="Palette"></ColorPicker>

<div class="row  ps-4 color-text-main" style="">
    <div class="row p-1"></div>
    <div class="colorpalette"></div>

    @{
        ColorModels = ColorModels.OrderBy(p => p.IdLabel).ToArray();
        foreach (var colorModel in ColorModels)
        {
            var colorPanel = CheckActivePanel(colorModel.IdLabel) ? "#d8d8d8b2" : "#ffffff";

            <div class="row  bottom-shadow text-center my-2 "
                 style="border:1px solid ; border-radius: 5px; border-color: #49505c; height: 45px; background: @colorPanel; overflow: hidden;"
                 @onclick="@(arg => ChoiceActivePanel(arg, colorModel))">

                <div class="col-1 my-1 ms-0 text-start">
                    <img src="icons/012_lable.svg" width="35" height="35"/>
                </div>
                <div class="col-1 my-2 text-start" style="">
                    Id: @colorModel.IdLabel
                </div>

                <div class="col-2 my-2" style="overflow-wrap: normal; height: 10px" >
                    Keyboard key:
                </div>

                <div class="col-1 my-2">
                    <input type="text" class="form-control text-center color-text-main" data-mdb-toggle="tooltip" data-mdb-placement="right"
                           title="index img" placeholder="" aria-describedby="button-addon1"
                           style="padding: 0px 4px 1px; "
                           @bind="@colorModel.KeyOnBoardName"
                           @onkeydown="@EventOnKeyDown">
                </div>

                <div class="col-2 my-2" style="">
                    Choose color:
                </div>

                <div class="col-2 my-2 p-0 text-center">
                    <div class="row">

                        <div class="col-12 mx-1"
                             style="background:@colorModel.Color; border:1px solid ; border-radius: 5px; border-color: #ced4da; "
                             @onclick="@(() => { isOpened = true; })">
                            @colorModel.Color
                        </div>

                    </div>
                </div>

                <div class="col-1"></div>

                <div class="col-2  m-0 py-1" style="">
                    <button type="button" class="btn btn-outline-primary" @onclick="@ButtonClickSaveLabelInfoAsync">
                        Save Label
                    </button>
                </div>


            </div>
        }
        <div class="row  bottom-shadow text-center my-2 "
             style="border:1px solid ; border-radius: 5px; border-color: #49505c; height: 45px; background: #ffffff;"
             @onclick="@ClickAddNewPanel">
            <div class="col-1 my-1 text-start">
                <img src="icons/013_lable_add.svg" width="35" height="35"/>
            </div>
            <div class="col-11 my-2 text-center">
                Add new
            </div>
        </div>
    }


</div>