@page "/marker"
@inherits MarkerModel

<div @onkeydown="HandleKeyDown" tabindex="0" class=""
     id="@IdImagesPamel"
     oncontextmenu="return false;">
    <div class="row border-bottom bg-light p-1">
        <NavigationPanel>
            <SavePanelTemplate>
                <SavePanel
                    ButtonSaveClick="() => _navigationHandler.SaveAnnotationAsync()"
                    ButtonUndoClick="() => _navigationHandler.UndoClick()"
                    ButtonRedoClick="() => _navigationHandler.RedoClick()">
                </SavePanel>
            </SavePanelTemplate>
            <SwipePanelTemplate>
                <SwipePanel
                    ButtonGoNextClick="() => _keyMapHandler.HandleKeyDownAsync(_commandGoNext)"
                    ButtonGoBackClick="() => _keyMapHandler.HandleKeyDownAsync(_commandGoBack)"
                    Color="@_cacheModel.ActiveLabelColor"
                    TypeLabel="@_cacheModel.ActiveTypeLabelText"
                    StatePrecess="@_cacheModel.StatePrecess"
                    CurrentIdImg="@_cacheModel.CurrentIdImg"
                    AllCountImages="@_cacheModel.AllCountImages"
                    ButtonEnterIdActiveIdImages="_navigationHandler.ButtonEnterIdActiveIdImagesAsync">
                </SwipePanel>

            </SwipePanelTemplate>
            <ProgressPanelTemplate>
                <ProgressPanel
                    NameFileEdit="@_cacheModel.NameImages"
                    CurrentProgress="@_cacheModel.CurrentProgress"
                    CurrentSqlDbName="@_cacheModel.CurrentSqlDbNames">

                </ProgressPanel>
            </ProgressPanelTemplate>
        </NavigationPanel>
    </div>


    <div class="row  bg-light p-0 m-0" style="height: 99.5vh; width: 99.5vw;">
        <div class="col-md-leftPanel  border-end p-1  " style="">
            @ToolsPanelTemplate
        </div>
        <div class="col-md-imagePanel p-0" style="">
            @ImagesPanelTemplate
        </div>

        <div class="col-md-rightPanel  border-start p-0 m-0" style="">
            @TabBoxPanelTemplate
        </div>

    </div>
    

</div>